<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Page</title>
</head>
<body>
<h1>This is About page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad, alias aliquam architecto asperiores
    aspernatur consectetur cupiditate eos est ex explicabo harum, illum in inventore ipsa iste laboriosam magni nostrum
    officia porro quos ratione recusandae reiciendis repudiandae sequi similique tenetur ut vel vero voluptates.
    Delectus dignissimos eveniet odit optio possimus?</p>
</body>
</html>